@model List<Producto>

@{
    ViewData["Title"] = "Lista de Productos";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Create", "Producto")'">Nuevo Producto</button>
<button type="button" class="btn btn-info">Listar Productos</button>


<p>En esta página se muestran los productos.</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.IdProducto</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
                <td><a type="button" asp-action="Details" asp-route-IdProducto="@item.IdProducto" class="btn btn-primary fa-solid fa-eye"> Ver</a>
                <a asp-action="Edit" asp-route-IdProducto="@item.IdProducto" class="btn btn-success fa-solid fa-pen-to-square"> Editar</a>
                <a asp-action="Delete" asp-route-IdProducto="@item.IdProducto" class="btn btn-danger fa-solid fa-trash"> Borrar</a></td>
            </tr>
        }
    </tbody>
</table>
